/* =================== PC ==================== */
@media (min-width: 992px) {
}

/* =================== tablets, landscape mode, small laptops ==================== */
@media (max-width: 991.98px) {
  /* 1. Ẩn đi thanh tìm kiếm và thông tin liên lạc đăng nhập và menu-nav-bar */
  .login-store {
    display: none;
  }
  /* 2. CHuyển logo vào giữa */
  .nav-bar {
    position: relative;
    /* height: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .search-form {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }

  /* 13. Sản phẩm */
  .product {
    min-width: 30%;
  }

  /* 14.  */
  .hot-selling-product .title {
    text-align: center;
    font-size: clamp(16px, 32px); /* Tối thiểu là 16px, tối đa là 32px */
  }

  .menu-nav-bar .list-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

/* =================== tablets, portrait mode ==================== */
@media (max-width: 768px) {
  /* .menu-nav-bar .list-nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  } */
}

@media (min-width: 576.02px) {
  .cart--mobile,
  .menu-mobile-icon {
    display: none;
  }
}

/* =================== mobile ==================== */

@media (max-width: 576px) {
  /* 1. Ẩn đi menu-nav-bar */
  .menu-nav-bar {
    display: none;
  }
  /* 2. Chỉnh lại vị trí logo và search */
  .nav-bar {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-bar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px 0px;
  }
  .menu-mobile-icon,
  .cart--mobile,
  .logo__mobile {
    margin: 0 auto;
  }
  .menu-mobile-icon,
  .store--mobile {
    width: 30px;
  }
  .search-box {
    padding-bottom: 5px;
  }
  .search-box .search-form {
    width: 80vw;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-box .search-test {
    height: 35px;
  }
  .search-box .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }
  /* 3. đưa carousel ra full chiều rộng */
  .set-carousel .container {
    width: 100%;
  }
  /* 4. */
  .hot-selling-product .title {
    text-align: center;
    font-size: clamp(
      8px,
      16px
    ) !important; /* Tối thiểu là 16px, tối đa là 32px */
  }

  /* 13. Sản phẩm */
  .product {
    min-width: 47%;
    height: auto;
    overflow: hidden;
  }
  body {
    min-width: 200px;
  }
  /* 14 carousel */
  .set-carousel {
    padding-top: 160px !important;
  }
  /* Ẩn cột thứ 2 và set lại chiều rộng cho cột 1 */
  .column2 {
    display: none;
  }
  .column1 {
    width: 94.5vw;
  }
  /* 15. set cỡ chữ cho title */
  .hot-selling-product .title {
    font-size: clamp(6px, 4vw, 32px);
  }
}
