/* .container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.login-bar {
  height: 25px;
  background-color: rgb(242, 242, 242);
}
.login-bar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.login-bar ul a {
  text-decoration: none;
  color: black;
}
.login-bar-1 {
  color: #a39595;
} */

.detail-product {
  display: grid;
  grid-template-rows: 1fr 1fr; /* Chia thành 2 hàng bằng nhau */
  margin: 50px 0;
  width: 500px;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
}

.head-detail,
.foot-detail {
  padding: 20px; /* Thêm padding cho các phần */
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
  gap: 10px; /* Khoảng cách giữa các cột */
}
.product img {
  margin: 50px 200px;
  width: 400px;
  height: auto;
}
.detail-product {
  margin: 50px 0;
  width: 500px;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
}
h6 {
  height: 40px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.info-product {
  height: 100px;
  /* margin-top: 10px;
  margin-left: 20px; */
}
.purchase-form {
  /* margin-top: 120px;
  margin-left: 20px; */
  width: 100%;
  height: 120px;
  border-radius: 5px;
}
.purchase-form span:hover {
  cursor: pointer;
  font-weight: bold;
}

.payment {
  display: flex;
  align-items: center;
  /* margin: 0px 20px; */
  margin-top: 20px;
}

.payment button {
  width: 30px;
  height: auto;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
}

.payment input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  padding: 0; /* Xoá padding để tạo khoảng trống cho nút */
  margin: 0; /* Đặt margin bằng 0 */
}

.payment button.minus {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.payment button.plus {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.addcart {
  width: 250px !important;
  margin-left: 100px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: orange;
}
.star-rating {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}
.detail-product a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

/* -----------------------Đường viền------------------ */
.divider {
  width: 80%; /* Chiều rộng của đường viền */
  height: 2px; /* Độ dày của đường viền */
  background-color: gray; /* Màu sắc của đường viền */
  align-self: center; /* Căn giữa */
  margin: 0 auto; /* Cách đều 10% mỗi bên */
}

/* Ẩn tăng giảm mặc định của input số lượng */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Hide the arrows in Firefox */

  -webkit-appearance: none; /* Ẩn mũi tên trong Chrome, Safari */
  appearance: none; /* Thuộc tính chuẩn */
}
