/* ------------------CART----------------- */
.cart {
  position: fixed;
  height: 100vh;
  width: 500px;
  right: -100%;
  top: 134px;
  background-color: white;
  padding: 12px 20px;
  overflow-y: scroll;
  z-index: 4;
}

.cart i {
  cursor: pointer;
}

.cart button {
  margin-top: 12px;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
}

.cart img {
  width: 220px;
  height: auto;
  border-radius: 8px;
}
.cart {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}
.cart table {
  width: 100%;
}
.cart table thead tr th:first-child {
  text-align: left;
}
.cart table tr td {
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}
.cart table thead tr th:last-child {
  text-align: right;
}
.cart table tbody tr td:last-child {
  text-align: right;
}
