.cart {
  position: fixed;
  height: 100vh;
  width: 500px;
  right: -100%;
  top: 134px;
  background-color: white;
  padding: 12px 20px;
  overflow-y: scroll;
}

.cart i {
  cursor: pointer;
}

.cart button {
  margin-top: 12px;
  height: 30px;
  padding: 0 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: aquamarine;
}
