/* --------FOOTER------------ */
footer {
  margin-top: 50px;
}
footer .logo {
  width: 80%;
  margin-bottom: 20px;
}
footer .container .list-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia thành 5 cột đều nhau */
  gap: 20px; /* Khoảng cách giữa các thẻ */
}
ul.list-menu-footer {
  list-style: none; /* Loại bỏ list-style */
  padding-left: 0; /* Xóa khoảng cách thụt đầu dòng */
}
.list-menu-footer a {
  text-decoration: none;
  color: black;
}
