/* --------FOOTER------------ */
footer {
  margin-top: 50px;
}
footer .logo {
  width: 80%;
  margin-bottom: 20px;
}
footer .container .list-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia thành 5 cột đều nhau */
  gap: 20px; /* Khoảng cách giữa các thẻ */
}
ul.list-menu-footer {
  list-style: none; /* Loại bỏ list-style */
  padding-left: 0; /* Xóa khoảng cách thụt đầu dòng */
}
.list-menu-footer a {
  text-decoration: none;
  color: black;
}

.container img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
/* Thiết lập cho thẻ parallax */
.parallax {
  position: relative;
  height: 15vh;
  overflow: hidden;
}

/* Đặt kích thước và hiệu ứng cho sóng */
.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 150px;
}

.parallax-waves > use {
  animation: move-forever 10s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; /* Tăng tốc độ chính */
}

.parallax-waves > use:nth-child(1) {
  animation-duration: 8s; /* Nhanh hơn */
  animation-delay: -2s;
}

.parallax-waves > use:nth-child(2) {
  animation-duration: 6s; /* Nhanh hơn */
  animation-delay: -1s;
}

.parallax-waves > use:nth-child(3) {
  animation-duration: 4s; /* Nhanh hơn */
  animation-delay: 0s;
}

.parallax-waves > use:nth-child(4) {
  animation-duration: 12s; /* Nhanh hơn */
  animation-delay: -3s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
